<web-app>
<servlet>
<servlet-name>1</servlet-name>
<servlet-class>Register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>1</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>2</servlet-name>
<servlet-class>Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>2</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>3</servlet-name>
<servlet-class>Forgot</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>3</servlet-name>
<url-pattern>/password</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>4</servlet-name>
<servlet-class>ViewAll</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>4</servlet-name>
<url-pattern>/view</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>5</servlet-name>
<servlet-class>Update</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>5</servlet-name>
<url-pattern>/requpdate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>6</servlet-name>
<servlet-class>UpdateDetails</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>6</servlet-name>
<url-pattern>/detailsupdate</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>7</servlet-name>
<servlet-class>Delete</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>7</servlet-name>
<url-pattern>/reqdelete</url-pattern>
</servlet-mapping>

</web-app>